* {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}


.task {
    margin-bottom: 30px;
}

.section {
    padding: 20px 0;
    margin-bottom: 40px;
}

.site-header {
    background: url('http://itgid.info/img/html/header_bg_1000.png');
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
}

.site-header .header-wrap {
    margin: 40px 0;
    background-color: rgba(255, 255, 255, .75);
    padding: 20px 0;
}

.site-header h1, .site-header h2 {
    color: #222;
    font-size: 26px;
    text-align: center;
    padding: 0 0 30px 0;
    text-transform: uppercase;
}
.site-header img {
    max-width: 100%;
}

.site-header h1, .site-header h2 {
    color: #222;
    font-size: 26px;
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
}

.site-header h2 {
    font-size: 22px;
}

.site-header a {
    color: #3b0b99;
}

.site-header h2 a {
    text-decoration: none;
}


h1 {
    text-transform: uppercase;
}

.container {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    background: #f1f1f1;
    padding: 10px;
}

section {
    margin-bottom: 100px;
}

figure {
    padding: 30px;
    margin: 20px 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    box-shadow: 0 0 10px #c0c0c0;
}

figcaption {
    font-style: italic;
}

p {
    margin: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}
.bg-orange {
    background: orange;
}

.bg-orangered {
    background: orangered;
}

.bg-brown {
    background: brown;
}

.bg-darkcyan {
    background: darkcyan;
}

.bg-dodgerBlue {
    background: DodgerBlue;
}

.block {
    width: 100px;
    height: 100px;
}

.out-1 img, .out-2  img, .out-3  img, .out-4  img, .out-5 img, .out-6 img, .out-7 img, .out-8 img, .out-9 img {
   width: 128px;
}


.block {
    width: 150px;
    height:150px;
}

.out-1:hover > .block-1 {
    position: relative;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: 3;
    cursor: wait;

}
 @keyframes circle {
    from {
    }
     to {
         border-radius: 50%;
         background: orangered;
     }
}

.out-2:hover > .block-2 {
    animation-name: move;
    animation-iteration-count: 1;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes move {
    0% {
        left: 0px;
    }
    50% {
        left: calc(97.5% - 128px);
    }
    100% {
        left: 0px;
    }
}

.out-3:hover > img {
    animation-name: dog_rotation;
    animation-iteration-count: 5;
    animation-duration: 2s;

}
@keyframes dog_rotation {
    from {
    }
    to {
        transform: rotate(360deg);
    }
}

.out-4 {
    position: relative;
    width: 80px;
    height: 30px;
    border: 3px solid black;
    left: 50%;
    overflow: hidden;

}

.out-4-inner {
    display: flex;
    position: absolute;
    animation-name: change_block;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;


}
.out-4-inner span {
    margin: 0 20px;
}

@keyframes change_block {
    0% {
        left: 0;
}
    10% {
        left: 0;
    }
    20% {
        left: -80px;
    }
    30% {
        left: -80px;
    }
    40% {
        left: -170px;
    }
    50% {
        left: -170px;
    }
    70% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.out-5 {
    position: relative;
    left: 50%;
    width: 140px;
    height: 130px;
    border: 3px solid black;
    overflow: hidden;
}
.out-5-inner {
    display: flex;
    position: relative;
    animation-name: img_move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: wait;

}

.out-5-inner img {
    margin: 0 10px;
}

@keyframes img_move {
    0% {
        left: -5px;
    }
    10% {
        left: -5px;
    }
    20% {
        left: -155px;
    }
    30% {
        left: -155px;
    }
    40% {
        left: -300px;
    }
    50% {
        left: -300px;
    }
    60% {
        left: -450px;
    }
    70% {
        left: -450px;
    }
    100% { left: -5px;

    }
}